<section class="preparation" fxLayout="column">
    <section class="preparation__titre" >
       PREPARATIF
    </section>

    <section  fxLayout="row" fxLayoutAlign="space-around center">
        <section>
        Budget pour la préparation: {{budget}} €
        </section>
           <section>
        equipe sélectionnée: 
        Arme sélectionnée:
        Objet sélectionnée:
        </section>
    </section>

    <section>
        <app-equipe></app-equipe>
    </section>

    <section>
        <app-arme></app-arme>
    </section>

    <section>
        <app-objet></app-objet>
    </section>

    <section>
        <app-otage></app-otage>
    </section>

    <section>
       <button>LANCER PARTIE </button>
    </section>



   


</section>